<head>
    <title>Animal Shelter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<div class="container">
<h1>Welcome To The Animal's Page</h1>
<h2>Select a catagory of animal to view</h2>
<a href="/Animals/List">All</a><br>
<a href="/Animals/CreateForm">Add a new animal</a>
</div>
