<h1>Welcome to the Tigers Page</h1>
<ul>
  @foreach(var tiger in Model)
  {
    <li>@tiger.GetTigerName()</li>
    <li>@tiger.GetTigerGender()</li>
    <li>@tiger.GetTigerAge()</li>
  }
</ul>
<a href="/">Home</a>
