<head>
    <title>Animal Shelter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<div class="container">
<h1>Welcome to the Animal Shelter</h1>
<a href="/">Home</a><br>
<a href="/Animals">View Animals</a><br>
<a href="/Animals/CreateForm">Add a new animal</a>
</div>
